@font-face {
	font-family: bebas_neue;
	src: url('../fonts/BebasNeue.otf');
}

@font-face {
	font-family: kelvinized;
	src: url('../fonts/Kelvinized.ttf');
}

body {
	margin:0px auto;
	width:960px;
	height:720px;
	background:#151515;
	background-image:url('../img/Twixel.png');
	background-repeat:no-repeat;
	background-position:center;
}

/* ------------------------------- Header ------------------------------ */

.top_header {
	height:80px;
	background:url('../img/Header-Top.png');
}

.logo {
	float:left;
	padding-left:20px;
	padding-top:10px;
}

.right_header {
	float:right;
	padding-right:20px;
}

.left_header {
	float:left;
}

.login_area {
	position:absolute;
	margin-left:-105px;
	color:white;
	text-decoration:none;
	padding-top:30px;
	font-family: bebas_neue;
	font-size:20px;
	letter-spacing:1px;
}

.login_btn {
	color:white;
	text-decoration:none;
	border-right:1px solid white;
	padding-right:5px;
}

.login_btn:hover {
	font-size:22px;
}

.login_btn:active {
	font-size:18px;
}

.user_area {
	position:absolute;
	margin-left:-150px;
	color:white;
	text-decoration:none;
	padding-top:33px;
	font-family: bebas_neue;
	font-size:16px;
	letter-spacing:1px;
}

.username_btn {
	color:white;
	text-decoration:none;
	border-right:1px solid white;
	padding-right:5px;
}

.logout {
	color:white;
	text-decoration:none;
	padding-left:1px;
}

.search_bar {
	float:right;
	position:absolute;
	margin-left:245px;
	padding-top:22px;
}

.search_box {
	height:30px;
	float:left;
	width:425px;
	font-size:125%;
	padding-left:5px;
	padding-right:2px;
}

.search_btn {
	float:right;
	height:36px;
	width:80px;
	margin-left:5px;
	border:0;
	background:url('../img/search_button.png');
}

.search_btn:hover {
	background:url('../img/search_hover.png');
	cursor:pointer;
}

.search_btn:active {
	background:url('../img/search_click.png');
	cursor:pointer;
}

#login_screen_home {
	visibility:hidden;
	position:absolute;
	background:blue;
	height:74px;
	width:210px;
	padding-top:2px;
	padding-right:10px;
	margin-top:2px;
	margin-left:740px;
}

#login_screen_about {
	visibility:hidden;
	position:absolute;
	background:blue;
	height:74px;
	width:210px;
	padding-top:2px;
	padding-right:10px;
	margin-top:2px;
	margin-left:740px;
}

#login_screen_catalog {
	visibility:hidden;
	position:absolute;
	background:blue;
	height:74px;
	width:210px;
	padding-top:2px;
	padding-right:10px;
	margin-top:2px;
	margin-left:740px;
}

#login_screen_contact {
	visibility:hidden;
	position:absolute;
	background:blue;
	height:74px;
	width:210px;
	padding-top:2px;
	padding-right:10px;
	margin-top:2px;
	margin-left:740px;
}

.login {
	float:left;
}

.login_label_email {
	float:left;
	margin-left:10px;
	padding-top:2px;
}

.login_label_password {
	float:left;
	margin-left:10px;
	padding-top:5px;
}

.login_box {
	float:right;
}

.login_button {
	float:right;
	float:left;
	margin-left:10px;
}

.signin_cancel {
	color:black;
	text-decoration:none;
	float:right;
	font-size:13px;
	margin-top:4px;
}

.submit {
	margin-top:5px;
}

/* ------------------------------- Menu Bar ------------------------------ */

.menu_bar {
	border-top:1px solid black;
	height:80px;
	background-repeat:no-repeat;
	background-image:url('../img/header_bar.png');
}

.menu_bar ul {
	float:left;
}

.menu_bar ul li {
	display:inline;
	padding:0px 25px 0px 0px;
}

.menu_bar ul li a {
	text-decoration:none;
	color:black;
	font-family: kelvinized;
	font-size:28px;
	padding:2px;
}

.menu_bar ul li a:hover {
	background-color:#b0b0b0;
}

.cart_button {
	float:right;
	margin-top:7px;
	margin-right:10px;
	width:138px;
	height:48px;
	background:url('../img/cart_button.png');
}

.cart_button:hover {
	background:url('../img/cart_button_hover.png');
}

.cart_button:active {
	background:url('../img/cart_button_click.png');
}

/* ------------------------------- Signup Area ----------------------------------- */

.signup {
	color:white;
	text-decoration:none;
}

#signup_area_home {
	visibility:hidden;
	background-color:blue;
	position:absolute;
	height:400px;
	width:400px;
	margin-left:300px;
	border-radius:10px;
}

#signup_area_catalog {
	visibility:hidden;
	background-color:blue;
	position:absolute;
	height:450px;
	width:400px;
	margin-left:300px;
}

#signup_area_about {
	visibility:hidden;
	background-color:blue;
	position:absolute;
	height:450px;
	width:400px;
	margin-left:300px;
}

#signup_area_contact {
	visibility:hidden;
	background-color:blue;
	position:absolute;
	height:450px;
	width:400px;
	margin-left:300px;
}

.signup_form {
	margin:20px;
}

.signup_label {
	float:left;
	font-size:20px;
	padding-top:8px;
}

.signup_input {
	float:right;
	height:20px;
	width:250px;
	font-size:16px;
	margin-top:5px;
}

.signup_section {
	padding-bottom:45px;
}

.signup_fieldset {
	border:0px;
	margin-bottom:5px;
	margin-left:-20px;
}

.signup_legend {
	font-size:40px;
}

.signup_submit {
	float:left;
	height:40px;
	width:140px;
	border:1px solid black;
	margin-top:20px;
	margin-left:140px;
}

.signup_cancel {
	color:black;
	text-decoration:none;
	float:right;
	font-size:15px;
	margin-top:35px;
}

/* ------------------------------- Home Body ----------------------------------- */

#home_area {
	height:500px;
	margin-bottom:10px;
	padding-right:10px;
}

#home_body {
	height:500px;
	width:690px;
	margin-left:10px;
	background:url('../img/home_body.png');
	background-repeat:no-repeat;
	float:left;
	padding-left:10px;
	border-radius:10px;
}

#home_body_header {
	color:white;
	text-align:center;
	font-family: bebas_neue;
	font-size:45px;
	font-weight:normal;
	letter-spacing:2px;
	padding-top:20px;
	margin-bottom:10px;
}

#home_cart_button {
	margin-left:300px;
	margin-top:0px;
	margin-bottom:10px;
	color:white;
	text-decoration:none;
	font-family:bebas_neue;
	font-size:20px;
	font-weight:normal;
	letter-spacing:1px;
	background-color:gray;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
}

#home_cart_button:hover {
	background-color:#989898;
}

#home_cart_button:active {
	background-color:#626262;
}

#featured_picture {
	color:white;
	padding-left:15px;
	margin-right:15px;
	padding-top:20px;
	height:230px;
}

#featured_area {
	padding-right:14px;
}

#featured_left {
	float:left;
}

#featured_image {
	height:200px;
	width:auto;
}

#featured_right {
	float:right;
	width:410px;
	margin-top:-16px;
	padding-left:15px;
	padding-right:15px;
}

#featured_price {
	
}

#featured_name {
	font-size:20px;
}

#featured_description {
	font-size:16px;
}

/* ------------------------------- Home Sidebar -------------------------------- */

#sidebar {
	float:right;
	width:230px;
	height:300px;
	background:url('../img/home_sidebar.png');
	background-repeat:no-repeat;
	color:white;
}

#about_us {
	text-align:center;
	margin-top:25px;
	margin-bottom:0px;
	font-family:bebas_neue;
	font-size:35px;
	letter-spacing:1px;
	font-weight:normal;
}

#about_description {
	padding:10px;
	margin-top:0px;
}

/* ------------------------------- Catalog Body --------------------------------- */

#catalog_body {
	height:1025px;
	background:url('../img/catalog_background.png');
	background-repeat:no-repeat;
	color:white;
	margin-left:5px;
	margin-right:5px;
	padding:2px 50px 5px 50px;
	border-radius:10px;
}

#catalog_top {
	height:125px;
}

#catalog_header {
	font-family:bebas_neue;
	font-size:40px;
	letter-spacing:2px;
	margin-top:20px;
	margin-bottom:30px;
	float:left;
}

#catalog_category_form {
	float:right;
	margin-top:30px;
}

#top_catalog {
	height:258px;
	margin-bottom:35px;
}

#middle_catalog {
	height:258px;
	margin-bottom:35px;
}

#bottom_catalog {
	height:258px;
	margin-bottom:35px;
}

#catalog_items {
	
}

.catalog_item {
	float:left;
	padding-right:30px;
}

.catalog_picture {
	height:175px;
	width:auto;
}

.catalog_name {
	margin-bottom:0px;
}

.catalog_price {
	margin-top:0px;
	margin-bottom:8px;
}

.add_to_cart_btn {
	text-decoration:none;
	color:white;
	background-color:gray;
	border:2px solid gray;
}

.add_to_cart_btn:hover {
	background-color:#989898;
}

.add_to_cart_btn:action {
	background-color:#626262;
}

#catalog_page_change {
	float:right;
	margin-top:-20px;
}

/* ------------------------------- Contact Body --------------------------------- */

#contact_body {
	background:url('../img/contact_background.png');
	background-repeat:no-repeat;
	color:white;
	margin-left:5px;
	margin-right:5px;
	padding:2px 50px 5px 50px;
	border-radius:10px;
}

#contact_header {
	font-family:bebas_neue;
	font-size:40px;
	letter-spacing:2px;
	margin-top:20px;
	margin-bottom:30px;
}

#contacts {
	
}

#top_group {
	height:220px;
}

#bottom_group {
	height:300px;
}

.contact_name {
	margin-bottom:0px;
}

.contact_email {
	margin-top:4px;
}

#greg {
	float:left;
	padding-right:130px;
}

#zack {
	float:left;
	padding-right:130px;
}

#kyler {
	float:right;
}

#fernando {
	float:left;
}

#mark {
	float:left;
}

#greg_pic {
	width:200px;
	height:auto;
}

#zack_pic {
	width:200px;
	height:auto;
}

#kyler_pic {
	width:200px;
	height:auto;
}

#fernando_pic {
	width:200px;
	height:auto;
}

#mark_pic {
	width:200px;
	height:auto;
}

/* ------------------------------- Client Body --------------------------------- */

#client_body {
	height:525px;
	margin-left:20px;
	margin-right:20px;
}

#upper_client {
	height:200px;
	margin-bottom:20px;
}

#lower_client {
	
}

#client_box {
	float:left;
	height:200px;
	width:300px;
	margin-right:20px;
	background:url('../img/client_box.png');
	background-repeat:no-repeat;
	padding-left:20px;
}

#client_history_button {
	color:white;
}

#client_payment_button {
	color:white;
	margin-top:20px;
}

#client_payment {
	color:white;
}

#client_history {
	color:white;
}

#client_name {
	color:white;
	font-family:bebas_neue;
	font-size:30px;
	letter-spacing:1px;
	margin-top:10px;
}

#cart_area {
	float:right;
	height:200px;
	width:250px;
	background:url('../img/client_cart_area.png');
	background-repeat:no-repeat;
	padding-left:15px;
	padding-right:15px;
}

#cart_area_title {
	color:white;
	font-family:bebas_neue;
	font-size:30px;
	letter-spacing:1px;
	margin-top:10px;
	margin-bottom:0px;
}

#client_cart_counter {
	color:white;
	font-size:20px;
	letter-spacing:1px;
	margin-top:10px;
	margin-bottom:30px;
}

#client_cart_button {
	text-align:center;
	background-color:gray;
	color:white;
	font-family:bebas_neue;
	text-decoration:none;
	font-size:20px;
	letter-spacing:1px;
	margin-left:12px;
	padding:5px;
}

#client_cart_button:hover {
	background-color:#989898;
}

#client_cart_button:active {
	background-color:#626262;
}

#related_items {
	height:280px;
	background:url('../img/client_related_items.png');
	background-repeat:no-repeat;
}

#related1 {
	color:white;
	margin-left:80px;
}

#related_items_header {
	font-family:bebas_neue;
	font-size:30px;
	letter-spacing:2px;
	font-weight:normal;
	color:white;
	padding-left:20px;
	padding-top:10px;
	margin-bottom:8px;
}

.related_item {
	float:left;
	padding-right:50px;
}

.related_picture {
	height:150px;
	margin-bottom:2px;
}

.related_name {
	margin:0px;
}

.related_price {
	margin:0px;
	margin-bottom:5px;
}

/* ------------------------------- Admin --------------------------------- */

#admin_title {
	color:white;
	margin:0px;
	font-family:bebas_neue;
	font-size:65px;
	letter-spacing:2px;
	font-weight:normal;
	float:left;
	margin-left:330px;
}

#admin_back_btn {
	float:right;
	background:url('../img/admin_back_button.png');
	height:48px;
	width:129px;
	margin-top:13px;
	margin-right:20px;
}

#admin_back_btn:hover {
	background:url('../img/admin_back_button_hover.png');
}

#admin_back_btn:active {
	background:url('../img/admin_back_button_click.png');
}

#admin_tasks_links {
	text-align:center;
	margin-bottom:15px;
	margin-top:20px;
	height:68px;
	margin-left:140px;
}

#add_link {
	background:url('../img/admin_add_button.png');
	width:201px;
	height:68px;
	float:left;
	margin-right:30px;
	padding-left:5px;
	padding-right:5px;
}

#add_link:hover {
	background:url('../img/admin_add_button_hover.png');
}

#add_link:active {
	background:url('../img/admin_add_button_click.png');
}

#remove_link {
	background:url('../img/admin_remove_button.png');
	width:201px;
	height:68px;
	float:left;
	margin-right:30px;
	padding-left:5px;
	padding-right:5px;
}

#remove_link:hover {
	background:url('../img/admin_remove_button_hover.png');
}

#remove_link:active {
	background:url('../img/admin_remove_button_click.png');
}

#edit_link {
	background:url('../img/admin_edit_button.png');
	width:201px;
	height:68px;
	float:left;
	margin-right:30px;
	padding-left:5px;
	padding-right:5px;
}

#edit_link:hover {
	background:url('../img/admin_edit_button_hover.png');
}

#edit_link:active {
	background:url('../img/admin_edit_button_click.png');
}

#admin_body {
	height:570px;
}

#add_item_form {
	position:absolute;
	text-align:left;
	margin-left:300px;
	background:url('../img/admin_add_background.png');
	background-repeat:no-repeat;
	height:478px;
	width:400px;
	padding:20px;
}

#remove_item_form {
	visibility:hidden;
	position:absolute;
	text-align:left;
	margin-left:300px;
	background:url('../img/admin_remove_background.png');
	background-repeat:no-repeat;
	height:140px;
	width:400px;
	padding:20px;
}

#edit_item_form {
	visibility:hidden;
	position:absolute;
	text-align:left;
	margin-left:300px;
	background:url('../img/admin_edit_background.png');
	background-repeat:no-repeat;
	height:520px;
	width:400px;
	padding:20px;
}

.add_item_area {
	color:white;
}

.add_item_legend {
	font-family:bebas_neue;
	font-size:40px;
	font-weight:normal;
	letter-spacing:1px;
}

.add_item_section {
	margin-bottom:12px;
}

.add_item_label {
	font-family:bebas_neue;
	font-size:20px;
	font-weight:normal;
	letter-spacing:2px;
	padding-right:15px;
}

.add_item_input {
	width:225px;
}

.add_item_submit {
	margin-top:10px;
	float:right;
	height:30px;
	width:80px;
}

#admin_footer {
	height:40px;
	background-image:url('../img/admin_footer.png');
	background-repeat:no-repeat;
}

#admin_disclaimer {
	color:white;
	text-align:center;
	line-height:0px;
	font-size:10px;
	float:left;
	padding-left:300px;
}

/* ------------------------------- Cart --------------------------------- */

#cart_body {
	background:url('../img/cart_background.png');
	background-repeat:no-repeat;
	color:white;
	margin-left:5px;
	margin-right:5px;
	padding:2px 50px 5px 50px;
	border-radius:10px;
	height:257px;
}

#top_cart {
	height:100px;
}

#cart_header {
	font-family:bebas_neue;
	font-size:40px;
	letter-spacing:2px;
	margin-top:20px;
	margin-bottom:30px;
	color:white;
	float:left;
}

#checkout_btn {
	float:right;
	margin-top:25px;
	text-decoration:none;
	color:white;
	font-family:bebas_neue;
	font-weight:normal;
	letter-spacing:2px;
	font-size:30px;
	background-color:gray;
	padding:5px 10px 5px 10px;
}

#checkout_btn:hover {
	background-color:#989898;
}

#checkout_btn:active {
	background-color:#626262;
}

.cart_item {
	height:120px;
	border-top:1px solid gray;
	border-bottom:1px solid gray;
	margin-bottom:20px;
	padding-top:15px;
}

#cart_left {
	float:left;
}

#cart_image {
	height:100px;
}

#cart_right {
	float:left;
	margin-left:30px;
	margin-top:15px;
}

#cart_name {
	
}

/* ------------------------------- History --------------------------------- */

#history_body {
	background:url('../img/cart_background.png');
	background-repeat:no-repeat;
	color:white;
	margin-left:5px;
	margin-right:5px;
	padding:2px 50px 5px 50px;
	border-radius:10px;
	height:257px;
}

#top_history {
	height:100px;
}

#history_header {
	font-family:bebas_neue;
	font-size:40px;
	letter-spacing:2px;
	margin-top:20px;
	margin-bottom:30px;
	color:white;
	float:left;
}

#history_details {
	font-size:20px;
}

/* ------------------------------- Checkout --------------------------------- */

#checkout_body {
	background:url('../img/cart_background.png');
	background-repeat:no-repeat;
	color:white;
	margin-left:5px;
	margin-right:5px;
	padding:2px 50px 5px 50px;
	border-radius:10px;
	height:257px;
}

#top_checkout {
	height:70px;
}

#checkout_header {
	font-family:bebas_neue;
	font-size:40px;
	letter-spacing:2px;
	margin-top:20px;
	margin-bottom:0px;
	color:white;
	float:left;
}

#confirmation {
	font-size:20px;
	margin:0px;
	padding-bottom:15px;
}

.checkout_info {
	margin:0px;
	padding-top:10px;
	padding-bottom:2px;
}

#change_checkout {
	float:right;
	margin-top:25px;
	text-decoration:none;
	color:white;
	font-family:bebas_neue;
	font-weight:normal;
	letter-spacing:2px;
	font-size:20px;
	background-color:gray;
	padding:5px 10px 5px 10px;
}

#change_checkout:hover {
	background-color:#989898;
}

#change_checkout:active {
	background-color:#626262;
}

/* ------------------------------- Payment --------------------------------- */

#payment_body {
	color:white;
	margin-left:10px;
	margin-right:10px;
	border-radius:10px;
	height:570px;
}

#change_payment_form {
	position:absolute;
	text-align:left;
	background:url('../img/admin_edit_background.png');
	background-repeat:no-repeat;
	height:520px;
	width:400px;
	padding:20px;
}

.payment_date_input {
	width:60px;
}

.payment_submit {
	margin-top:35px;
	float:right;
	height:30px;
	width:80px;
}


/* ------------------------------- Footer --------------------------------- */

.footer {
	height:65px;
	background-image:url('../img/Twixel_04.png');
	background-repeat:no-repeat;
}

.admin_link {
	float:right;
	text-decoration:none;
	font-family:bebas_neue;
	font-weight:normal;
	font-size:15px;
	letter-spacing:1px;
	color:white;
	padding-top:36px;
	padding-right:15px;
}

.disclaimer {
	color:white;
	text-align:center;
	line-height:0px;
	font-size:10px;
	padding-top:27px;
	float:left;
	padding-left:300px;
}